.background-hr {
    font: 28px sans-serif;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    padding: 5px 10px;
}
.background-hr {
    position: relative;
    z-index: 1;
}
.background-hr:before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
.background-hr span {
    background: #FE7C00;
    padding: 1rem 2rem;
    margin-left: 2rem;
}
